[Desktop Entry]
Name=ccload
Name[ast]=ccload
Name[bg]=ccload
Name[bs]=ccload
Name[ca]=ccload
Name[ca@valencia]=ccload
Name[cs]=ccload
Name[da]=ccload
Name[de]=ccload
Name[el]=ccload
Name[en_GB]=ccload
Name[eo]=ccload
Name[es]=ccload
Name[et]=ccload
Name[fi]=ccload
Name[fr]=ccload
Name[ga]=ccload
Name[gl]=ccload
Name[hu]=ccload
Name[it]=ccload
Name[ja]=ccload
Name[kk]=ccload
Name[km]=ccload
Name[ko]=ccload
Name[lv]=ccload
Name[nb]=ccload
Name[nds]=ccload
Name[nl]=ccload
Name[nn]=ccload
Name[pa]=ccload
Name[pl]=ccload
Name[pt]=ccload
Name[pt_BR]=ccload
Name[ro]=ccload
Name[ru]=ccload
Name[sk]=ccload
Name[sq]=ccload
Name[sr]=ccload
Name[sr@ijekavian]=ccload
Name[sr@ijekavianlatin]=ccload
Name[sr@latin]=ccload
Name[sv]=ccload
Name[tr]=ccload
Name[ug]=ccload
Name[uk]=ccload
Name[x-test]=xxccloadxx
Name[zh_CN]=ccload
Name[zh_TW]=ccload
Exec=ccload %i -caption "%c"
Icon=ccload
Type=Application
X-DocPath=ccload/index.html
GenericName=A KDE4 Application
GenericName[ast]=Una aplicación de KDE4
GenericName[bg]=Програма за KDE4
GenericName[bs]=KDE4 aplikacija
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sk]=KDE4 aplikáca
GenericName[sq]=Një Program KDE 4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[ug]=ك د ئې(KDE) 4 پروگراممىسى
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
